<div class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
         <a href="/login">
          quick-api
         </a>
      </div>
      <div class="panel-body">
         <p class="text-center pv">SIGN IN TO CONTINUE.</p>
      <form class="form" name="form" ng-submit="login(form)" novalidate>
        <div class="form-group has-feedback">
              <input type="email" name="email" placeholder="Enter email"  class="form-control" ng-model="user.email" required>
               <span class="fa fa-envelope form-control-feedback text-muted"></span>
            </div>
        <div class="form-group has-feedback">
               <input type="password" name="password" class="form-control" placeholder="Password" ng-model="user.password" required>
               <span class="fa fa-lock form-control-feedback text-muted"></span>
            </div>
           <div class="clearfix">
               <div class="checkbox c-checkbox pull-left mt0">
                  <label>
                     <input type="checkbox" value="" />
                     <span class="fa fa-check"></span>Remember Me</label>
               </div>
               <div class="pull-right"><a ui-sref="page.recover" class="text-muted">Forgot your password?</a>
               </div>
            </div>
        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
             Please enter your email and password.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
             Please enter a valid email.
          </p>

        <p class=elp-block">{{ errors.other }}</p>
        </div>

        <div>
           <button type="submit" class="btn btn-block btn-primary mt-lg">Login</button>
            <p class="pt-lg text-center">Need to Signup?</p><a  class="btn btn-block btn-default" href="/signup">Register Now</a>
        </div>

      </form>
    </div>
  </div>
  <hr>
</div>
